<table class="profile" summary="Profile information">
	<% @user = @profile.user %>
	<tr>
		<td>
			<h3> Name:  <%= @profile.name %></h3>
			<p> Gender: <%= @profile.gender %> </p>
			<h4> Mobile: <%= @profile.mobile %> </h4>
			<h3> Address: </h3>
			<h4> City: <%= @profile.city %> </h4>
			<h4> State: <%= @profile.state %> </h4>
			<h4> Country: <%= @profile.country %> </h4>
			<p> Pin: <%= @profile.zip_code %> </p>
		</td>
	</tr>
	<tr>
		<td>
			<span class="badge badge-success"><%= render 'shared/statsFriend' %> </span> <%= link_to "See friends", user_friends_path(@user) %>  <br/>
			<span class="badge badge-info"><%= render 'shared/statsSubscribers' %> </span> <%= link_to "See subscriptions", user_subscribers_path(@user) %> 
		</td>
		<td>
			
			<% unless current_user == @user %>
				<%= render 'relationships/relation_form' %>
				<%= render 'relationships/subscriber_form' %>
			<% end %>
		</td>
	</tr>
</table>